<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_ISillyCalc_WSC_1" />
                <binding name="MetadataExchangeNamedPipeBinding_IMetadataExchange">
                    <security mode="None" />
                </binding>
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/wcfcalc/wcfserver.COM_LB_SillyCalc_WSC_1/ISillyCalc_WSC_1"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_ISillyCalc_WSC_1"
                contract="ServiceReference1.ISillyCalc_WSC_1" name="NetNamedPipeBinding_ISillyCalc_WSC_1">
              <!--  
              <identity>
                    <userPrincipalName value="310048417" />
                </identity>
                -->
            </endpoint>
            <endpoint address="net.pipe://localhost/wcfcalc/wcfserver.COM_LB_SillyCalc_WSC_1/mex"
                binding="netNamedPipeBinding" bindingConfiguration="MetadataExchangeNamedPipeBinding_IMetadataExchange"
                contract="ServiceReference1.IMetadataExchange" name="MetadataExchangeNamedPipeBinding_IMetadataExchange" />
        </client>
    </system.serviceModel>
</configuration>