<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IQ00Z5" value="DCIM,Download" />
    <add key="WhatsApp" value="android/media/com.whatsapp/whatsapp/Media,android/media/com.whatsapp/whatsapp/Databases,android/media/com.whatsapp/whatsapp/Backups,android/media/com.whatsapp/whatsapp/Shared" />
    <add key="Lenavo" value="DCIM,Download,Pictures,screenrecorder" />  
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
